[Unit]
Description=Python API endpoint to communicate with arduino.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/pi/projects/Home-Api-Build/backend/code/arduino/python-api/arduino.py

User=ubuntu

Environment=ENV=production

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target